In [192]:
import pandas as pd
from sklearn.preprocessing import Imputer
import numpy as np

db = pd.read_csv("database_class.csv")
print(db.describe())

         sessionNo    startHour  startWeekday      duration       cCount  \
count  5111.000000  5111.000000    5111.00000   5111.000000  5111.000000
mean   2556.000000    17.996087       6.23107   1527.974712    23.304637
std    1475.562943     6.365912       2.00577   2184.293690    31.657279
min       1.000000     0.000000       1.00000      0.000000     0.000000
25%    1278.500000    19.000000       7.00000    206.114500     4.000000
50%    2556.000000    20.000000       7.00000    793.389000    11.000000
75%    3833.500000    21.000000       7.00000   1966.657000    30.000000
max    5111.000000    23.000000       7.00000  21320.113000   200.000000

            bCount       rCount  bMinPriceVariance  bMaxPriceVariance  \
count  5111.000000  5111.000000        5111.000000        5111.000000
mean      3.395813     0.611231         784.783024         784.783024
std       3.641097     0.487518        9903.741146        9903.741146
min       0.000000     0.000000           0.000000           0.000000
25%       1.000000     0.000000           0.000000           0.000000
50%       2.000000     1.000000           0.000000           0.000000
75%       4.000000     1.000000           8.177112           8.177112
max      43.000000     1.000000      455017.301038      455017.301038

       bMeanVariance  cMeanVariance
count    5111.000000    5111.000000
mean      784.783024     784.783024
std      9903.741146    9903.741146
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       0.000000
75%         8.177112       8.177112
max    455017.301038  455017.301038

In [193]:
db = db.replace({'?': np.nan})
print(db)

      sessionNo  startHour  startWeekday  duration  cCount cMinPrice  \
0             1         18             7   624.606      11     16.99
1             2         18             7  2804.705      16     34.99
2             3         18             7  7401.384     119      7.99
3             4         18             7  2853.550     152      3.99
4             5         18             7    48.145       2     29.99
5             6         18             7  3464.238      51      7.99
6             7         18             7   482.112       8     14.99
7             8         18             7  1844.763      40      8.99
8             9         18             7    68.599       4     59.99
9            10         18             7  5852.879     149         5
10           11         18             7  4399.213      50         5
11           12         18             7  1150.028      46         7
12           13         18             7  1033.142      11     14.99
13           14         18             7  4183.782     114      9.99
14           15         18             7  8433.742     100      4.99
15           16         18             7   154.899       8     29.99
16           17         18             7  3903.416      30         3
17           18         18             7    71.873       3     19.99
18           19         18             7   192.970      10        14
19           20         18             7  1100.188      27     17.99
20           21         18             7   209.777       9        99
21           22         18             7  1395.358      16      9.99
22           23         18             7  2798.544      40      4.99
23           24         18             7  1291.750      47         3
24           25         18             7  1177.269      19      9.99
25           26         18             7    33.440       5     49.99
26           27         18             7  4557.034      61         1
27           28         18             7    62.605       1     49.99
28           29         18             7   874.942      15     19.99
29           30         18             7  2117.586      20      9.99
...         ...        ...           ...       ...     ...       ...
5081       5082          5             1     4.347       2    599.99
5082       5083          5             1   511.208      24         7
5083       5084          5             1  1825.315       9     29.99
5084       5085          5             1     5.775       1     49.99
5085       5086          5             1  1161.475      14     11.95
5086       5087          5             1   670.828      36         7
5087       5088          5             1    19.349       1     49.99
5088       5089          5             1     0.000       1     49.99
5089       5090          5             1   622.281      17         3
5090       5091          5             1     3.232       2    599.99
5091       5092          5             1   466.160      23      3.99
5092       5093          5             1     0.000       3     99.99
5093       5094          5             1  1111.468      56      9.99
5094       5095          5             1     0.000       1      6.99
5095       5096          5             1     6.982       1     49.99
5096       5097          5             1    51.709       3      4.99
5097       5098          5             1     4.470       1     49.99
5098       5099          5             1   145.150       0       NaN
5099       5100          5             1    14.710       0       NaN
5100       5101          5             1   180.143       8     11.95
5101       5102          5             1   914.787      38         1
5102       5103          5             1     4.517       2    599.99
5103       5104          5             1     4.913       2    599.99
5104       5105          5             1     4.062       1     49.99
5105       5106          5             1   356.398      23     12.95
5106       5107          5             1   519.017      11         9
5107       5108          5             1    18.429       1      6.99
5108       5109          5             1   777.655       0       NaN
5109       5110          5             1   101.074       1     49.99
5110       5111          5             1    55.953       3      4.99

     cMaxPrice cSumPrice  bCount bMinPrice      ...      accountLifetime  \
0        39.99    207.91       5     16.99      ...                  188
1        34.99    174.95       2     34.99      ...                   43
2        59.95   3263.57      12     12.49      ...                   17
3       239.99    5642.5       4      9.99      ...                  226
4        29.99     59.98       1     29.99      ...                   39
5        39.99    449.34       3      7.99      ...                  352
6        19.99    129.92       2     14.99      ...                  NaN
7        99.99    648.74       2     12.99      ...                  NaN
8        79.99    299.96       1     79.99      ...                   73
9        39.99    891.32       5      7.99      ...                  NaN
10        39.9    864.27       9     12.99      ...                  217
11       29.99    854.55       2      9.99      ...                  219
12       49.99    354.89       2     29.99      ...                  243
13      129.99   4096.43       7      9.99      ...                   24
14      199.99   9460.51       4      4.99      ...                  106
15       49.99    299.92       1     29.99      ...                  223
16      699.99   3241.86       2     79.99      ...                  341
17       59.95    139.89       3     19.99      ...                  223
18       19.99    175.94       2     19.99      ...                  178
19      139.99   1943.75      10     17.99      ...                  NaN
20         199       696       1       199      ...                  NaN
21       19.99    224.86       2      9.99      ...                  NaN
22       24.99    567.69       6      4.99      ...                  357
23       44.99    630.74       1      9.99      ...                  NaN
24      329.99   1509.85       3     14.99      ...                  NaN
25       49.99    249.95       1     49.99      ...                  NaN
26       69.99    776.84       8      9.99      ...                   14
27       49.99     49.99       1     49.99      ...                  NaN
28          20    279.87       4     19.99      ...                  NaN
29        9.99    189.81       3      9.99      ...                  NaN
...        ...       ...     ...       ...      ...                  ...
5081    599.99    599.99       2    599.99      ...                  NaN
5082     39.99    728.83       6         7      ...                  NaN
5083      1099   1328.97       1     99.99      ...                  NaN
5084     49.99     49.99       1     49.99      ...                  NaN
5085     29.95     246.3       1     17.95      ...                  NaN
5086     39.99    524.91       4         7      ...                  143
5087     49.99     49.99       1     49.99      ...                  NaN
5088     49.99     49.99       1     49.99      ...                  NaN
5089     29.99    191.87       1     12.99      ...                  NaN
5090    599.99    599.99       2    599.99      ...                  NaN
5091    129.99    864.81       7      3.99      ...                  269
5092       169    398.98       3     99.99      ...                  NaN
5093     34.99    946.61      12      9.99      ...                  NaN
5094      6.99      6.99       1      6.99      ...                    5
5095     49.99     49.99       1     49.99      ...                  NaN
5096      4.99      9.98       1      4.99      ...                  NaN
5097     49.99     49.99       1     49.99      ...                  NaN
5098       NaN       NaN       0       NaN      ...                  NaN
5099       NaN       NaN       0       NaN      ...                  NaN
5100     27.95     67.85       1     27.95      ...                  NaN
5101         7       214       1         7      ...                  NaN
5102    599.99    599.99       2    599.99      ...                  NaN
5103    599.99    599.99       2    599.99      ...                  NaN
5104     49.99     49.99       1     49.99      ...                  NaN
5105     12.95    271.95       3     12.95      ...                    4
5106     39.99    311.93       1     39.99      ...                  NaN
5107      6.99      6.99       1      6.99      ...                    5
5108       NaN       NaN       0       NaN      ...                  NaN
5109     49.99     49.99       1     49.99      ...                  NaN
5110      4.99      9.98       1      4.99      ...                  NaN

     payments  age address lastOrder rCount bMinPriceVariance  \
0           5   49       1        65      1         91.432099
1           5   29       2       184      1          0.000000
2           4   37       2       107      1          5.845936
3          19   49       2        17      1          0.000000
4           2   53       2       234      0          0.000000
5           9   82       1        28      1          1.555556
6         NaN  NaN     NaN       NaN      1          0.000000
7         NaN  NaN     NaN       NaN      1          1.000000
8          14   65       2         4      0          0.000000
9         NaN  NaN     NaN       NaN      1          7.555556
10          3   48       2       146      1          0.979592
11         26   46       2        24      1         13.888889
12         10   62       1        64      1         43.750000
13          1   50       2        43      1         19.880841
14          4   47       2       131      1        752.939495
15         10   51       2        31      0          0.000000
16         19   73       2        32      1          0.000000
17         33   50       1         5      1        325.877878
18          9   35       2         7      1          0.000000
19        NaN  NaN     NaN       NaN      1          0.000000
20        NaN  NaN     NaN       NaN      0          0.000000
21        NaN  NaN     NaN       NaN      1         10.240000
22         10   61       1        24      1         45.051903
23        NaN  NaN     NaN       NaN      0          0.000000
24        NaN  NaN     NaN       NaN      1         50.000000
25        NaN  NaN     NaN       NaN      0          0.000000
26          0   41       2        63      1          0.000021
27        NaN  NaN     NaN       NaN      0          0.000000
28        NaN  NaN     NaN       NaN      1          0.000000
29        NaN  NaN     NaN       NaN      1          0.000000
...       ...  ...     ...       ...    ...               ...
5081      NaN  NaN     NaN       NaN      1          0.000000
5082      NaN  NaN     NaN       NaN      1        195.825900
5083      NaN  NaN     NaN       NaN      0          0.000000
5084      NaN  NaN     NaN       NaN      0          0.000000
5085      NaN  NaN     NaN       NaN      0          0.000000
5086       11   73       1       304      1          0.000000
5087      NaN  NaN     NaN       NaN      0          0.000000
5088      NaN  NaN     NaN       NaN      0          0.000000
5089      NaN  NaN     NaN       NaN      0          0.000000
5090      NaN  NaN     NaN       NaN      1          0.000000
5091       17   54       2        70      1         25.354167
5092      NaN  NaN     NaN       NaN      1          0.000000
5093      NaN  NaN     NaN       NaN      1          2.576389
5094        0   53       1        34      0          0.000000
5095      NaN  NaN     NaN       NaN      0          0.000000
5096      NaN  NaN     NaN       NaN      0          0.000000
5097      NaN  NaN     NaN       NaN      0          0.000000
5098      NaN  NaN     NaN       NaN      0          0.000000
5099      NaN  NaN     NaN       NaN      0          0.000000
5100      NaN  NaN     NaN       NaN      0          0.000000
5101      NaN  NaN     NaN       NaN      0          0.000000
5102      NaN  NaN     NaN       NaN      1          0.000000
5103      NaN  NaN     NaN       NaN      1          0.000000
5104      NaN  NaN     NaN       NaN      0          0.000000
5105       23   90       2         4      1          0.000000
5106      NaN  NaN     NaN       NaN      0          0.000000
5107        0   53       1        34      0          0.000000
5108      NaN  NaN     NaN       NaN      0          0.000000
5109      NaN  NaN     NaN       NaN      0          0.000000
5110      NaN  NaN     NaN       NaN      0          0.000000

     bMaxPriceVariance bMeanVariance cMeanVariance
0            91.432099     91.432099     91.432099
1             0.000000      0.000000      0.000000
2             5.845936      5.845936      5.845936
3             0.000000      0.000000      0.000000
4             0.000000      0.000000      0.000000
5             1.555556      1.555556      1.555556
6             0.000000      0.000000      0.000000
7             1.000000      1.000000      1.000000
8             0.000000      0.000000      0.000000
9             7.555556      7.555556      7.555556
10            0.979592      0.979592      0.979592
11           13.888889     13.888889     13.888889
12           43.750000     43.750000     43.750000
13           19.880841     19.880841     19.880841
14          752.939495    752.939495    752.939495
15            0.000000      0.000000      0.000000
16            0.000000      0.000000      0.000000
17          325.877878    325.877878    325.877878
18            0.000000      0.000000      0.000000
19            0.000000      0.000000      0.000000
20            0.000000      0.000000      0.000000
21           10.240000     10.240000     10.240000
22           45.051903     45.051903     45.051903
23            0.000000      0.000000      0.000000
24           50.000000     50.000000     50.000000
25            0.000000      0.000000      0.000000
26            0.000021      0.000021      0.000021
27            0.000000      0.000000      0.000000
28            0.000000      0.000000      0.000000
29            0.000000      0.000000      0.000000
...                ...           ...           ...
5081          0.000000      0.000000      0.000000
5082        195.825900    195.825900    195.825900
5083          0.000000      0.000000      0.000000
5084          0.000000      0.000000      0.000000
5085          0.000000      0.000000      0.000000
5086          0.000000      0.000000      0.000000
5087          0.000000      0.000000      0.000000
5088          0.000000      0.000000      0.000000
5089          0.000000      0.000000      0.000000
5090          0.000000      0.000000      0.000000
5091         25.354167     25.354167     25.354167
5092          0.000000      0.000000      0.000000
5093          2.576389      2.576389      2.576389
5094          0.000000      0.000000      0.000000
5095          0.000000      0.000000      0.000000
5096          0.000000      0.000000      0.000000
5097          0.000000      0.000000      0.000000
5098          0.000000      0.000000      0.000000
5099          0.000000      0.000000      0.000000
5100          0.000000      0.000000      0.000000
5101          0.000000      0.000000      0.000000
5102          0.000000      0.000000      0.000000
5103          0.000000      0.000000      0.000000
5104          0.000000      0.000000      0.000000
5105          0.000000      0.000000      0.000000
5106          0.000000      0.000000      0.000000
5107          0.000000      0.000000      0.000000
5108          0.000000      0.000000      0.000000
5109          0.000000      0.000000      0.000000
5110          0.000000      0.000000      0.000000

[5111 rows x 28 columns]

In [177]:
values = {
    'cMinPrice': db['cMinPrice'].astype(float).mode(),
    'cMaxPrice': db['cMaxPrice'].astype(float).mode(),
    'cSumPrice': db['cSumPrice'].astype(float).mode(),
    'bMinPrice': db['bMinPrice'].astype(float).mode(),
    'bMaxPrice': db['bMaxPrice'].astype(float).mode(),
    'bSumPrice': db['bSumPrice'].astype(float).mode(),
    'bStep': db['bStep'].astype(float).mode()[0],
    'onlineStatus': db['onlineStatus'].mode()[0],
    'availability': db['availability'].mode()[0],
    'customerNo': db['customerNo'].mode()[0],
    'maxVal': db['maxVal'].mode()[0],
    'customerScore': db['customerScore'].mode()[0],
    'accountLifetime': db['accountLifetime'].mode()[0],
    'payments': db['payments'].astype(float).mode()[0],
    'age': db['age'].astype(float).mode()[0],
    'address': db['address'].mode()[0],
    'lastOrder': db['lastOrder'].mode()[0],
}
db_mode = db.fillna(values)
db_mode.to_csv('database_class_mode_.csv')

In [178]:
values = {
    'cMinPrice': db['cMinPrice'].astype(float).mode(),
    'cMaxPrice': db['cMaxPrice'].astype(float).mode(),
    'cSumPrice': db['cSumPrice'].astype(float).mode(),
    'bMinPrice': db['bMinPrice'].astype(float).mode(),
    'bMaxPrice': db['bMaxPrice'].astype(float).mode(),
    'bSumPrice': db['bSumPrice'].astype(float).mode(),
    'bStep': db['bStep'].astype(float).mode()[0],
    'onlineStatus': 'desconhecido',
    'availability': 'desconhecido',
    'customerNo': 'desconhecido',
    'maxVal': db['maxVal'].mode()[0],
    'customerScore': db['customerScore'].mode()[0],
    'accountLifetime': db['accountLifetime'].mode()[0],
    'payments': db['payments'].astype(float).mode()[0],
    'age': db['age'].astype(float).mode()[0],
    'address': db['address'].mode()[0],
    'lastOrder': db['lastOrder'].mode()[0],
}
db_mode_unknown = db.fillna(values)
db_mode_unknown.to_csv('database_class_mode_unknown.csv')

In [194]:
values = {
    'cMinPrice': db['cMinPrice'].astype(float).mean(),
    'cMaxPrice': db['cMaxPrice'].astype(float).mean(),
    'cSumPrice': db['cSumPrice'].astype(float).mean(),
    'bMinPrice': db['bMinPrice'].astype(float).mean(),
    'bMaxPrice': db['bMaxPrice'].astype(float).mean(),
    'bSumPrice': db['bSumPrice'].astype(float).mean(),
    'bStep': db['bStep'].astype(float).mean(),
    'onlineStatus': 'desconhecido',
    'availability': 'desconhecido',
    'customerNo': 'desconhecido',
    'maxVal': db['maxVal'].astype(float).mean(),
    'customerScore': db['customerScore'].astype(float).mean(),
    'accountLifetime': db['accountLifetime'].astype(float).mean(),
    'payments': db['payments'].astype(float).mean(),
    'age': db['age'].astype(float).mean(),
    'address': db['address'].astype(float).mean(),
    'lastOrder': db['lastOrder'].astype(float).mean(),
}
db_mean_unknown = db.fillna(values)
db_mean_unknown.to_csv('database_class_mean_unknown.csv')

In [189]:
values = {
    'cMinPrice': db['cMinPrice'].astype(float).mean(),
    'cMaxPrice': db['cMaxPrice'].astype(float).mean(),
    'cSumPrice': db['cSumPrice'].astype(float).mean(),
    'bMinPrice': db['bMinPrice'].astype(float).mean(),
    'bMaxPrice': db['bMaxPrice'].astype(float).mean(),
    'bSumPrice': db['bSumPrice'].astype(float).mean(),
    'bStep': db['bStep'].astype(float).mean(),
    'onlineStatus': db['onlineStatus'].mode()[0],
    'availability': db['availability'].mode()[0],
    'customerNo': db['customerNo'].mode()[0],
    'maxVal': db['maxVal'].astype(float).mean(),
    'customerScore': db['customerScore'].astype(float).mean(),
    'accountLifetime': db['accountLifetime'].astype(float).mean(),
    'payments': db['payments'].astype(float).mean(),
    'age': db['age'].astype(float).mean(),
    'address': db['address'].astype(float).mean(),
    'lastOrder': db['lastOrder'].astype(float).mean(),
}
db_mean_mode = db.fillna(values)
db_mean_mode.to_csv('database_classmean_mode.csv')